.certificates__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem; /* Space between items */
}

.certificates__item {
  background-color: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  flex: 1 1 calc(33% - 3rem); /* Default: 3 items in a row */
  min-width: 280px; /* Minimum width for layout */
  box-sizing: border-box; /* Include padding/border in width */
}

/* Styles for the main certificates section */
.certificates {
  background-color: var(--color-bg-variant);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--color-primary);
  height: fit-content; /* Auto height based on content */
  transition: var(--transition);
}

.certificates:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.certificates__head {
  background-color: var(--color-primary);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.certificates__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 1024px) {
  .certificates__item {
    flex: 1 1 calc(50% - 3rem); /* 2 items in one row for medium devices */
  }
}

@media screen and (max-width: 600px) {
  .certificates__item {
    flex: 1 1 100%; /* 1 item in a row for small devices */
  }
}

/* Logo container styles */
.logo-container img {
  max-width: 50px;
  max-height: 50px;
  vertical-align: middle;
  border-style: none;
}

.logo-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Resume wrap styles */
.resume-wrap {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
}

.resume-wrap:hover {
  transform: scale(1.05);
}
